@charset "UTF-8";
.store_box {
	width: 60%;
	margin: 0 auto;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-direction: row;
	flex-wrap: nowrap;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-webkit-box-align: start;
	align-items: flex-start;
}
.storeASide {
	width: 100%;
	margin-right: 22px;
}
.storeASide h1 {
	font-size: 24px;
	margin-bottom: 10px;
}
.thinP {
	margin-top: 2px;
	font-size: 14px;
	color: #c4bbab;
	line-height: 18px;
}
.storeASide > div {
	width: 600px;
	margin: 0 auto;
}
.storeASide section {
	border-top: 3px solid #eb0019;
}
.storeBSide {
	position: sticky;
	top: 75px;
	margin-top: 16px;
	width: 700px;
}
.swiper-container {
	width: 600px;
	height: 450px;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
/* 별점 */
.MuiRating-readOnly {
    pointer-events: none;
}
.MuiRating-root {
    color: #ffb400;
    cursor: pointer;
    display: inline-flex;
    position: relative;
    font-size: 2.4rem;
    text-align: left;
    -webkit-tap-highlight-color: transparent;
}
.MuiRating-decimal {
    position: relative;
}
.jss1019 {
    margin: 0;
}
.MuiRating-icon {
    display: flex;
    transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    pointer-events: none;
}
.MuiSvgIcon-root {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 2.4rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
}
.jss1020 {
	margin-bottom: 10px;
    flex: none;
}
.jss1020 svg {
    width: 18px;
    height: 18px;
}
.jss1021 path {
    fill: rgba(247, 168, 7, 1);
}
/* 별점 */
.storeASide section {
	margin: 9px 0 22px;
	font-size: 17px;
	font-weight: 500;
	line-height: 25px;
}
.storeASide h3 {
	margin: 9px 0 22px;
	font-size: 17px;
	font-weight: 700;
	line-height: 25px;
}
dl {
	overflow: hidden;
	margin-top: 9px;
	line-height: 24px;
}
dt {
	float: left;
	width: 70px;
	font-size: 14px;
	font-weight: 700;
}
dd {
	overflow: hidden;
	font-size: 14px;
	font-weight: 500;
	white-space: pre-wrap;
}
.count {
	color: #eb0019;
	font-size: 12px;
	font-weight: 700;
	line-height: 1.67;
}
.review_box {
	margin-top: 10px;
}
.review_title {
	height: 46px;
	position: relative;
	margin-bottom: 10px;
}
.review_profile {
	width: 46px;
	height: 46px;
	position: relative;
	left: 0px;
	top: 0px;
}
.review_profile > img {
	width: 46px;
	height: 46px;
}
.review_name_box {
	position: relative;
	left: 55px;
	top: -46px;
}
.review_name_box > p {
	font-weight: 700;
	font-size: 14px;
}
.review_content {
	margin-left: 46px;
	font-size: 14px;
	font-weight: 300;
}
.a4032{
	padding: 13px 16px;
	font-size: 1.0rem;
	box-shadow: none !important;
	font-weight: 500;
	text-transform: capitalize;
	width: 100%;
	color: #eb0019;
	border: 2px solid #eb0019;
	min-width: 64px;
	box-sizing: border-box;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	font-family: Noto Sans KR,sans-serif;
	line-height: 1.75;
	border-radius: 4px;
	cursor: pointer;
	margin: 10px 0px;
	display: inline-flex;
	outline: 0;
	position: relative;
	align-items: center;
	user-select: none;
	vertical-align: middle;
	justify-content: center;
	text-decoration: none;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;
}
.a4033{
	width: 100%;
	display: inherit;
	align-items: inherit;
	justify-content: inherit;
	font-weight: 700;
}
.a4034{
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	overflow: hidden;
	position: absolute;
	border-radius: inherit;
	pointer-events: none;
}
.select_btn {
	padding: 7px;
	font-size: 12px;
	margin-bottom: 10px;
	width: 100%;
	background: #fff;
	border: 1px solid #ececec;
	border-radius: 2px;
	line-height: 17px;
	font-weight: 500;
	color: #4a4a4a;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	position: relative;
	cursor: pointer;
}
.storeBSide svg {
	margin-right: 12px;
	fill: #838383;
}
.select_btn > img {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	right: 16px;
}
.select_time {
	width: 97%;
	background: #fff;
	border: 1px solid #ececec;
	border-radius: 2px;
	position: relative;
	margin-bottom: 10px;
				padding: 7px;
	font-size: 12px;
	font-weight: 500;
}
.time_head {
	-webkit-box-pack: start;
	justify-content: flex-start;
	color: #838383;
	line-height: 16px;
	margin-bottom: 12px;
	font-size: 14px;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
}
.timeItem {
}
.timeItem > div {
	border-radius: 0;
	box-shadow: none;
	display: inline-flex;
	flex-wrap: nowrap;
	position: relative;
}
.mySwiper2 {
	height: 28px !important;
}
.timeItem button {
	display: inline-block;
	width: 73px;
	height: 28px;
	margin-right: 8px;
	border-radius: 4px;
	border: 1px solid #eb0019;
	color: #eb0019;
	text-align: center;
	line-height: 26px;
	font-size: 12px;
	box-shadow: none;
	vertical-align: top;
	transform: none;
	align-self: stretch;    
	transition: transform .3s cubic-bezier(.25,.8,.5,1),-webkit-transform .3s cubic-bezier(.25,.8,.5,1);

}
.swiper-pagination {
	left: 0;
	width: 100%;
	text-align: center;
}
.swiper-pagination > span {
	margin: 0px 5px;
}
.mySwiper2 button {
	cursor: pointer;
}
.reservation_btn {
	font-size: 14px;
	padding: 12px 0 13px;
	background: #ee2c30;
	line-height: 25.85px;
	font-weight: 700;
	width: 100%;
	text-align: center;
	color: #fff;
	border-radius: 2px;
	letter-spacing: 2.16px;
	cursor: pointer;
}
.count_module {
	float: right;
	text-align: right;
}
.count_module img{ 
	width: 24px;
	height: 24px;
	cursor: pointer;
}
.count_module strong {
	padding: 0 10px;
	position: relative;
	top: -4px;
	font-size: 16px;
	font-weight: 700;
}
#datepicker {
	width: 300px;
	height: 30px;
	font-size: 18px;
	text-align: center;
}
.select_time_btn {
	background: #ee2c30;
	color: white !important;
}
.all_review {
	float: right;
	margin-top: 5px;
	margin-right: 5px;
	border: 0;
	cursor: pointer;
}